/* login.module.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff; /* Fondo blanco */
    padding-top: 60px; /* Espacio superior */
    padding-bottom: 60px; /* Espacio inferior opcional */
  }
  
  .formContainer {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 40px;
    border-radius: 16px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra para relieve */
    width: 100%;
    max-width: 500px;
  }
  
  .formContainer h1 {
    margin-bottom: 20px;
  }
  
  .formContainer form {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer .MuiTextField-root,
  .formContainer .MuiFormControl-root {
    margin-top: 10px;
  }
  
  .formContainer .MuiButton-root {
    margin-top: 20px;
  }
  
  .registerLink {
    margin-top: 20px;
  }
  
  .link {
    color: #001f3f; /* Azul marino */
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    .formContainer {
      padding: 20px;
    }
  }
  