
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container_login{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FFFFFF;
}

.container_register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.Button{
    width: 100%;
    height: 6vh;
    margin-top: 2vh;
    background-color: #453ea4;
    border-radius: 5px;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .input{
    width: 100%;
    height: 3vh;
}

@media screen and (min-width: 900px) {
    .container_login{
        width: 100%;
        height: 60vh;
    }

    .Button{
        width: 30vh;
        margin-top: 4vh;
    }
}