@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.header{
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0rem;
    font-weight: 600;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.header h1{
    font-size: 1.5rem;
}

.header nav{
    font-size: 1rem;
}

.header span{
    color: #1e2f5b;
    padding: 2vh;
    text-align: center;
}

.img_container{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_container{
    width: 100%;
    height: 10vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_inputs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.label{
    font-size: 1.1rem;
    margin-bottom: 2vh;
    margin-top: 3vh;
}

.input{
    width: 20vh;
    background-color: #ffffff;
    border-radius: 2px;
    height: 3vh;
}

.button{
    width: 21vh;
    height: 5vh;
    margin-top: 3vh;
    font-size: 1rem;
    background-color: blue;
    border-radius: .5vh;
    border-style: 1px groove #069DFF;
    color: #ffffff;
}

.button_active{
    margin-left: 1vh;
    width: 13vh;
    background-color: blue;
    height: 5vh;
    color: white;
    border-radius: .4vh;
    border-color: #ffffff;
}

.input_perfil{
    width: 75%;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    border-radius: .5vh;
}

.container_Resumen{
    font-family: "Inter", sans-serif;
    padding-top: 2vh;
    height: 8vh;
}

.title_resumen{
    font-size: 1rem;
    font-weight: 600;
}

.container_CrearEmpleo{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem;
}

.container_cards{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem;
}

.container{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem;
}

.container_card{
    background-color:#d9d9d9;
    color: rgb(0, 0, 0);
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 41px 1px 94px 1px;
-moz-border-radius: 41px 1px 94px 1px;
-webkit-border-radius: 41px 1px 94px 1px;
border: 0px solid #050505;
-webkit-box-shadow: 11px 10px 0px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 10px 0px -1px rgba(0,0,0,0.75);
box-shadow: 11px 10px 0px -1px rgba(0,0,0,0.75);
}

.title_empleo{
    color: #1500ff;
}



  @media screen and (min-width: 900px) {
    .header {
        width: 100%;
        flex-direction: row;
        font-size: 1.2rem;
        justify-content: space-evenly;
    }

    .header nav {
        flex-direction: row;
        width: auto;
    }

    .header span {
        padding: 2vh;
    }

    .img_container {
        width: 17%;
        margin-bottom: 0;
    }

    .footer_container {
        height: 10vh;
    }

    .container_inputs{
        font-size: 1.2rem;
    }
    
    .label{
        font-size: 1.2rem;
    }
    
    .input{
        width: 28vh;
    }
    
    .button{
        width: 30vh;
    }

    .button_active{
        margin-left: 1.2vh;
        width: 17vh;
    }

    .container_cards{
        flex-direction: row;
    }

    .container_card{
        margin-left: 4vh;
        width: 35vh;
        flex-direction: column;
    }
}