@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.header{
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0rem;
    font-weight: 600;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.header h1{
    font-size: 1.5rem;
}

.header nav{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header ul{
    list-style-type: none;
}

.header span{
    color: #1e2f5b;
    padding: 2vh;
    text-align: center;
}

.img_container{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_container{
    width: 100%;
    height: 10vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 30vh;
}

.container_inputs{
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.inputs {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.inputs:focus {
  ~ .label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
/* reset input */
.input{
  &:required,&:invalid { box-shadow:none; }
}


.button{
    width: 30vh;
    height: 5vh;
    margin-top: 3vh;
    font-size: 1rem;
    background-color: blue;
    border-radius: .5vh;
    border-style: 1px groove #069DFF;
    color: #ffffff;
}

.button_view{
    width: 30vh;
    height: 6vh;
    margin-top: 3vh;
    font-size: .9rem;
    font-weight: bold;
    background-color: blue;
    border-radius: .5vh;
    border-style: 1px groove #069DFF;
    color: #ffffff;
}

.button_active{
    margin-left: 1vh;
    width: 13vh;
    background-color: blue;
    height: 5vh;
    color: white;
    border-radius: .4vh;
    border-color: #ffffff;
}

.input_perfil{
    width: 75%;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    border-radius: .5vh;
}

.container_Resumen{
    font-family: "Inter", sans-serif;
    padding-top: 2vh;
    height: 8vh;
}

.title_resumen{
    font-size: 1rem;
    font-weight: 600;
}

.container_CrearEmpleo{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem;
}

.container_cards{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem;
}

.container{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem;
}

.container_card_main{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 160px;
    height: auto;
    text-align: center;
    font-size: 1rem;
}

.container_empleo_list{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    font-size: .9rem;
    gap: 15px;
    padding: 0px;
}

.card_empleo_list{
    width: 90%;
    height: 100%;
    min-width: 100px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;

    box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    -webkit-box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    -moz-box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    border-radius: 10px;
}

.card_empleo_list .title_empleo{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    width: auto;
}

.card_empleo_list .p_categoria{
    font-size: .9rem;
    background-color:#525252;
    color: #ffffff;
    padding: 5px;
    border-radius:5px;
}

.button_empleo{
    width: 17vh;
    height: 4vh;
    margin-top: 1vh;
    font-size: .9rem;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: .5vh;
    border-style: 1px groove #069DFF;
    color: #000000;
}

.button_empleo_delete{
    width: 17vh;
    height: 3.3vh;
    margin-top: 1vh;
    font-size: .9rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: .5vh;
    color: #000000;
}

.p_empleo{
    width: 70%;
    text-align: justify;
    line-height: 1.5em;
}

.container_card{
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 44vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    -webkit-box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    -moz-box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    border-radius: 10px;
}

.descripcion{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_card_view{
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    width:60vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    -webkit-box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    -moz-box-shadow: 3px 6px 39px -6px rgba(137,137,137,0.77);
    border-radius: 10px;
}

.title_empleo{
    color: #003646;
    font-size: 1.2rem;
}

.p_empresa{
    font-size: .9rem;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    background-color: blue;
}

.p_fecha{
    font-size: .9rem;
    background-color: #525252;
    color: #ffffff;
    padding: 5px;
    border-radius:5px;
}

  @media screen and (min-width: 900px) {
    .header {
        width: 100%;
        flex-direction: row;
        font-size: 1.2rem;
        justify-content: space-evenly;
    }

    .header nav {
        flex-direction: row;
        width: auto;
    }

    .header span {
        padding: 2vh;
    }

    .img_container {
        width: 17%;
        margin-bottom: 0;
    }

    .footer_container {
        height: 10vh;
    }
    .button{
        width: 30vh;
    }

    .button_active{
        margin-left: 1.2vh;
        width: 17vh;
    }

    .container_cards{
        flex-direction: row;
        height: 70vh;
    }

    .container_card{
        width: 40vh;
        border-radius: 10px;
        flex-direction: column;
    }

    .container_card_view{
        width: 40vh;
        border-radius: 10px;
        flex-direction: column;
    }

    .container_card_main{
        margin: auto;
    }

    .title_empleo{
        font-size: 1.6rem;
        padding: 0px 20px 0px 20px;
    }
    
    .p_empresa{
        font-size: 1rem;

    }
    
    .p_fecha{
        font-size: .9rem;
    }

    .card_empleo_list{
        flex-direction: row;
        height: 170px;
        gap: 20px;
    }

    .card_empleo_list .title_empleo{
        width: auto;
    }
    
    .card_empleo_list .p_categoria{

    }
    
    .button_empleo{
        height: 6vh;
    }
    
    .button_empleo_delete{

    }
    
    .p_empleo{
        width: 20%;
        text-align: center;
    }

    .container_buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}